<div class="container_24">
   <div class="grid_4 right">
       <ul><a href="/wash/wash_panel">洗衣记录</a></ul>
       <ul><a href="/wash/clothes_list">开始洗衣</a></ul>
   </div>

  <div class="grid_20">
    <table id="tablecloth">
      <thead>
        <tr>
          <th>上门取送时间范围</th>
          <th>衣服列表</th>
          <th>处理进度</th>
        </tr>
      </thead>
      <tbody>

          <% @user.orders.each do |ord| %>
          <tr>
              <td>
                <% if ord.get_date %>
                    <%= ord.get_date.strftime('%Y-%m-%d')%>
                <% end %>
                <%= ord.get_time_begin.strftime('%H:%M') %> ~ <%= ord.get_time_end.strftime('%H:%M') %></td>
              <td>
                <% ord.clothes.each do |clo| %>
                   <ul><%= clo.name %></ul>
                <% end %>
              </td>
          </tr>
          <% end %>

      </tbody>
    </table>

  </div>
</div>