<h1>New user</h1>
<div class="line"></div>

<%= render 'userform' %>
<div class="articleBody clear">
	<figure>
    	<div id="container"></div>
		<script>
			var map = new BMap.Map("container"); 
			var point = new BMap.Point(116.404, 39.915);  // 创建点坐标  
			map.centerAndZoom("扬州市",15);
		</script>
    </figure>
</div>

<%= link_to '返回', users_path %>
